{{#if todo_ok}}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>{{todo_ok}}</strong>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
{{/if}}


{{#if todo_error}}
  <div class="alert alert-success fade show" role="alert">
    <strong>{{todo_error}}</strong>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
    ></button>
  </div>
{{/if}}

<div class="col mt-3">
  <form action="/auth/signin" method="POST">
    {{! Correo }}
    <div class="form-control">
      <label for="email" class="form-label">Correo Electronico</label>
      <input
        type="email"
        class="form-control"
        id="email"
        name="email"
        placeholder="Ingrese su correo electronico"
      />
    </div>

    {{! Password }}
    <div class="form-control">
      <label for="password" class="form-label">Contraseña</label>
      <input
        type="password"
        class="form-control"
        id="password"
        name="password"
        placeholder="Ingrese su contraseña"
      />
    </div>

    <button class="btn btn-danger mt-3">
      Iniciar sesión
    </button>
  </form>
</div>