<h2 class="m-4">Creando Post</h2>

<form action="/posts" method="POST">

    <div class="form-control">
        <label for="title" class="form-label">Título</label>
        <input type="email" class="form-control" id="title" name="title" placeholder="Ingrese el título del post">
    </div>

    <div class="form-control">
        <label for="body" class="form-label">Cuerpo</label>
        <textarea class="form-control" id="body" name="body" rows="3" placeholder="Ingrese el cuerpo del post"></textarea>
    </div>

    <button class="btn btn-primary mt-4">Enviar</button>

</form>